.my-container {
    background-color: #b1aab68c;
    height: 500px;
    font-family: 'Courier New', Courier, monospace
}

.col {
    border: 1px solid saddlebrown;
}

.overflow-wrap {
    overflow-wrap: break-word;
  }
